.container{
    min-width: 100vw;
    min-height: 100vh;
}
.logo{
    height: 256px;
    margin: 16px;
    background-image: url("https://w7.pngwing.com/pngs/441/722/png-transparent-pikachu-thumbnail.png");
    background-position: center;
    background-size: cover;

}
.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}
.title{
    font-family: Montserrat, serif;
    font-size: 30px;
    font-weight: bolder;
}
